<ion-header class="no-style-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="register-page">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" />
  </div>
  <ion-list class="register-form">
    <ion-item lines="none">
      <ion-input
        placeholder="Usuario"
        type="text"
        label="Usuario"
        labelPlacement="floating"
        [(ngModel)]="user.usuario"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        placeholder="Correo"
        type="email"
        label="Correo"
        labelPlacement="floating"
        [(ngModel)]="user.correo"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        placeholder="Contraseña"
        type="password"
        label="Contraseña"
        labelPlacement="floating"
        [(ngModel)]="user.password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-button
      (click)="registrar()"
      expand="block"
      shape="round"
      class="register-button">
      Registrarse
    </ion-button>
  </ion-list>
</ion-content>

